.auth-container {
  height: 100vh;
}

.auth-centered {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.auth-box {
  padding: 20px;
  width: 400px;
}

.auth-box-header {
  margin-top: 10px;
}

.auth-box-body {
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

.auth-box-footer {
  padding: 0px 10px 10px 5px;
  margin-top: 10px;
}

button {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 320px) {
  .auth-box {
    width: 260px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .auth-box {
    width: 300px;
  }
}
